# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# -------------------------
# Django
# -------------------------
db.sqlite3
media/
staticfiles/

# -------------------------
# React / Node
# -------------------------
frontend/node_modules/
frontend/dist/
frontend/build/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

media/